<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dreven.quello.dao.mapper.QuestionMapper">

    <select id="search" resultType="org.dreven.quello.dao.entity.Question">
        select *
        from question
        where 1=1
        <if test="req.title != null and req.title != ''">
            and title like concat('%', #{req.title}, '%')
        </if>
        <if test="req.status != null">
            and status = #{req.status}
        </if>
        <if test="req.questionType != null">
            and question_type = #{req.questionType}
        </if>
        order by updated_at desc
    </select>

    <select id="getQuestionTrendsByWeek"
            resultType="org.dreven.quello.controller.dto.dashboard.DashTrendItemRsp">
        SELECT CONCAT(YEAR(created_at), '-W', LPAD(WEEK(created_at, 3), 2, '0')) as `time`,
        COUNT(*) as `count`
        FROM question
        <where>
            <if test="req.productModule != null and req.productModule != ''">
                and product_module = concat('%', #{req.productModule}, '%')
            </if>

            <if test="req.startDate != null">
                and created_at >= #{req.startDate}
            </if>

            <if test="req.endDate != null">
                and created_at &lt;= #{req.endDate}
            </if>
        </where>
        GROUP BY `time`
        ORDER BY `time`;
    </select>

    <select id="getQuestionTrendsByMonth"
            resultType="org.dreven.quello.controller.dto.dashboard.DashTrendItemRsp">
        SELECT CONCAT(YEAR(created_at), '-', LPAD(MONTH(created_at), 2, '0')) as `time`,
        COUNT(*) as `count`
        FROM question
        <where>
            <if test="req.productModule != null and req.productModule != ''">
                and product_module = concat('%', #{req.productModule}, '%')
            </if>

            <if test="req.startDate != null">
                and created_at >= #{req.startDate}
            </if>

            <if test="req.endDate != null">
                and created_at &lt;= #{req.endDate}
            </if>
        </where>
        GROUP BY `time`
        ORDER BY `time`;
    </select>
</mapper>